@import "../../styles/Functions.scss";

.section-companies {
  @include landingContent();
  padding: 48px 24px;
  min-height: 240px;

  .title {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding-bottom: 24px;
  }

  .partner-image {
    height: 50px;
    margin-bottom: 24px;
  }

  .partner-swipper{
    padding: 64px 0px;
  }
}
