@import "../../styles/Constants.scss";

.footer {
  border-top: 2px solid lighten($color: $block1-color, $amount: 10);
  width: 100%;
  text-align: center;
  min-height: 120px;
  background-color: $block1-color;
  color: white;
}
