@media screen and (max-width: 768px) {
  .flex-row-on-small {
    flex-direction: row !important;
  }

  .flex-column-on-small {
    flex-direction: column !important;
  }

  .flex-row-reverse-on-small {
    flex-direction: row-reverse !important;
  }

  .flex-column-reverse-on-small {
    flex-direction: column-reverse !important;
  }
}
